@import "./effects.css";
@import "./capsule.css";
@import "./balloon.css";
@import "./progressBar.css";
@import "./cover.css";
@import "./close.css";
@import "./body.css";
@import "./buttons.css";
@import "./icons.css";
@import "./themes.css";
@import "./body.css";
@import "./wrapper.css";
@import "./target.css";

.iziToast {
  display: inline-block;
  clear: both;
  position: relative;
  padding: 0;
  font-family: 'Lato', arial;
  font-size: 14px;
  padding: 8px 50px 9px 0;
  background: #eee;
  border-color: #eee;
  min-height: 54px;
  width: 100%;
  pointer-events: all;

  @media (--mobile) {
    margin: 5px 0;
    border-radius: 3px;
    width: auto;

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,0.2), inset 0 0 5px rgba(0,0,0,0.1), 0 8px 8px -5px rgba(0,0,0,0.25);
    }
  }
}

.iziToast.iziToast-animateInside p,
.iziToast.iziToast-animateInside strong,
.iziToast.iziToast-animateInside .iziToast-icon,
.iziToast.iziToast-animateInside .iziToast-buttons * {
  opacity: 0;
}

.iziToast-rtl {
  direction: rtl;
  padding: 8px 0 9px 50px;
}