.iziToast {
  &.iziToast-color-red {
    background: rgba(243,186,189,0.85);
    border-color: rgba(243,186,189,0.85);
  }

  &.iziToast-color-yellow {
    background: rgba(243,237,172,0.85);
    border-color: rgba(243,237,172,0.85);
  }

  &.iziToast-color-blue {
    background: rgba(181,225,249,0.85);
    border-color: rgba(181,225,249,0.85);
  }

  &.iziToast-color-green {
    background: rgba(180,241,196,0.85);
    border-color: rgba(180,241,196,0.85);
  }

  &.iziToast-color-dark {
    background: #565c70;
    border-color: #565c70;

    @media(--mobile) {
      &::after {
        box-shadow: inset 0 -10px 20px -10px rgba(255,255,255,0.3), 0 10px 10px -5px rgba(0,0,0,0.25);
      }
    }

    & strong {
      color: #fff;
      font-weight: 500;
    }

    & p {
      color: rgba(255,255,255,0.7);
      font-weight: 300;
    }
  }
}